input[type=text], select {
    width: 280px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
}

.maincontainer{
    align-items: center;
    color: black;
    justify-content: center;
    display:inline;
    background-color: whitesmoke;
    
}

.todolist{
    display: flex;
    margin: auto;
    width: 40%;
    justify-content: center;
    height: auto;
    flex-direction:column;
}



.todoitems{
    display: flex;
    justify-content: left;
    background-color:whitesmoke;
    height: auto;
    border: black;
    border-style:solid;
    color: black;
    border-width: 1px;
    font-weight: bold;
    padding: 4%;
}


button{
    background:transparent;
    height: 30px;
    width: auto;
    background-color: whitesmoke;
    align-items: center;
    color: black;
    font-weight: normal;
}

header{
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 3vmin);
  font-weight: bold;
}

.inputbox{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.buttonlist{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
  
}



