input[type=text], select {
    width: 280px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

@media (max-width: 480px) {
 
    body{
        margin:auto;
    }    
    
    .todoitems{
        width: 100%;

    }
    
  
}

body{
    background-color: #121212;
    padding: 0px 50px 0px 50px;
}

.maincontainer{
    align-items: center;
    color: white;
    justify-content: center;
    display:inline;
    background-color: #121212;
    
}

.todolist{
    display: flex;
    margin: auto;
    width: 40%;
    justify-content: center;
    height: auto;
    flex-direction:column;
}

.todoitems{
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color:#121212;
    height: auto;
    font-weight: normal;
    font-family:sans-serif;
    line-height: 2;
    border: white;
    border-style:solid;
    color: white;
    border-width: 1px;
    padding: 2%;
}

.todobtndiv{
    display:flex;
    flex-direction: row;
    margin-left: auto;
}


button{
    background:transparent;
    height: 30px;
    width: auto;
    background-color: #121212;
    align-items: center;
    color: white;
    font-weight: normal;
}

header{
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 3vmin);
  font-weight: bold;
}

.inputbox{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.buttonlist{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    align-items: center;
  
}



